<div class="formset-row">
    <div class="form-group">
        <label>Key</label>
        <input type="text" name="{{ prefix }}-{{ index }}-key" id="id_{{ prefix }}-{{ index }}-key">
    </div>
    <div class="form-group">
        <label>Value</label>
        <input type="text" name="{{ prefix }}-{{ index }}-value" id="id_{{ prefix }}-{{ index }}-value">
    </div>
    <div class="form-group">
        <label class="checkbox-label">
            <input type="checkbox" name="{{ prefix }}-{{ index }}-DELETE" id="id_{{ prefix }}-{{ index }}-DELETE"> Remove
        </label>
    </div>
    <input type="hidden" name="{{ prefix }}-{{ index }}-id" id="id_{{ prefix }}-{{ index }}-id">
</div>
