{% load nav_tags %}
<nav class="sidebar">
    <div class="sidebar-header">
        <h1>Netaudit</h1>
    </div>
    <ul class="sidebar-nav">
        <li><a href="{% url 'dashboard' %}" class="{% active_class request '/' exact=True %}">Dashboard</a></li>
        <li><a href="{% url 'device-list-html' %}" class="{% active_class request '/devices/' %}">Devices</a></li>
        <li><a href="{% url 'simplerule-list-html' %}" class="{% active_class request '/rules/simple/' %}">Simple Rules</a></li>
        <li><a href="{% url 'customrule-list-html' %}" class="{% active_class request '/rules/custom/' %}">Custom Rules</a></li>
        <li><a href="{% url 'auditrun-list-html' %}" class="{% active_class request '/audits/' %}">Audits</a></li>
        <li><a href="{% url 'schedule-list-html' %}" class="{% active_class request '/schedules/' %}">Schedules</a></li>
    </ul>
</nav>
